html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
}
.content {
    flex: 1;
    padding: 50px;
    padding-bottom: 0; /* No padding at the bottom, the footer will take care of this space */
}
img {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
}
h1 {
    color: #fff;
}
p {
    color: #bbb;
}
footer {
    color: #666;
    padding: 20px 0; /* Add some padding inside the footer */
}
.discord-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  
.wrapper-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    display: flex; /* Use Flexbox to line items up in a row */
    justify-content: space-around; /* Spreads the buttons evenly with space around them */
    align-items: center; /* Vertically centers the buttons if their heights are different*/
}

.wrapper-buttons > * {
    margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
    margin-top: 10px;
}

.wrapper-buttons > *:last-child {
    margin-bottom: 0px;
}

.button-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the color from the parent, useful if changing button colors */
}


/* .white-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 300px;
    background: transparent;
    color: #fff;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    font-size: large;
}*/

.white-button {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 300px;
    background: linear-gradient(to right, #ffffff 50%, #0a0a0a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    line-height: 0px; /* Set line-height equal to the button's height for vertical centering */    
    margin-bottom: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease; /* Enhanced for a smoother transition */
}

.white-button:hover {
    background-position: left bottom;
    color: #000;
}



.blue-button:active,
.white-button:active{
    transform: translateY(2px);
}

.blue-button,
.white-button{
    outline: transparent !important;
}
