html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
}
.content {
    flex: 1;
    padding: 50px;
    padding-bottom: 0; /* No padding at the bottom, the footer will take care of this space */
}
img {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
}
h1 {
    color: #fff;
}
p {
    color: #bbb;
}
footer {
    color: #666;
    padding: 20px 0; /* Add some padding inside the footer */
}
.discord-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  
.wrapper-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.wrapper-buttons > * {
    margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
    margin-top: 10px;
}

.wrapper-buttons > *:last-child {
    margin-bottom: 0px;
}

.white-button,
.blue-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    background: transparent;
    margin-bottom: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
    
    border: 2px solid #7289da;
    color: #7289da;
}

.white-button {
    background-color: #fff;
    border: 2px solid #fff;
}

/* .blue-button {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}

.white-button {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
} */

.blue-button:hover,
.white-button:hover{
    transform: translateY(1px);
}

.blue-button:active,
.white-button:active{
    transform: translateY(2px);
}

.blue-button,
.white-button{
    outline: transparent !important;
}
