@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

html body{
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font to the entire site */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #0a0a0a;
    color: #fff;
    text-align: center;
    padding-top: 60px; /* Adjust this value based on the navbar height */
}
.content {
    flex: 1;
    display: flex; /* Add display flex to the content container */
    flex-direction: column; /* Set flex direction to column */
    align-items: center; /* Horizontally center content */
    padding: 50px;
    padding-top: 5px; 
    padding-bottom: 0; /* No padding at the bottom, the footer will take care of this space */
}

p {
    color: #bbb;
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 20px; /* Add some space below each paragraph */
    text-align: center; 
    max-width: 350px;
    text-align: justify;
    font-size: 0.9em;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 70vh;
}
h1 {
    color: #fff;
    margin-bottom: 20px; /* Added */
}

footer {
    color: #666;
    padding: 20px 0; /* Add some padding inside the footer */
}


.logo {
    margin-right: 10px; /* Added */
}


/* Custom Navbar Background Color */
.custom-navbar {
    background-color: #0a0a0a;
}

.discord-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.wrapper-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    display: flex; /* Use Flexbox to line items up in a row */
    justify-content: space-around; /* Spreads the buttons evenly with space around them */
    align-items: center; /* Vertically centers the buttons if their heights are different*/
    text-align: center;
}
.wrapper-buttons > * {
    margin-bottom: 10px;
}
.wrapper-buttons > *:first-child {
    margin-top: 10px;
}
.wrapper-buttons > *:last-child {
    margin-bottom: 0px;
}
.button-link {
    text-decoration: none; /* Removes underline from links */
    color: rgba(255, 255, 255, 0.5) /* Inherits the color from the parent, useful if changing button colors */
}

.white-button {
    display: inline-block;
    font-weight: 500;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 300px;
    background: linear-gradient(to right, #ffffff 50%, #0a0a0a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    line-height: 0px; /* Set line-height equal to the button's height for vertical centering */    
    margin-bottom: 12px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    transition: all 1s ease; /* Enhanced for a smoother transition */
}
.white-button:hover {
    background-position: left bottom;
    color: #000;
}
.blue-button:active,
.white-button:active {
    transform: translateY(2px);
}
.blue-button,
.white-button {
    outline: transparent !important;
}

.logo-strip {
    background-color: white;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    /* background-color: #f1f1f1; Optional: Add a background color for the logo strip */
}

.logo-strip-inner {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 50px;
    animation: scroll 20s linear infinite;
}

.logo-strip-inner img {
    margin: 0 20px;
    max-height: 100px; /* Maintain aspect ratio */
    height: auto; /* Ensure the height adjusts automatically */
    width: auto; /* Ensure the width adjusts automatically */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-350%);
    }
}

/* Contact Form */
/* Form Styles */

/* Form Styles */
#contact-form {
    max-width: 600px;
    margin: 100 auto;
    min-width: 350px;
    text-align: left;
    background: #0a0a0a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea.form-control {
    resize: vertical;
}

/* Solution Card */

/* Solutions Grid Styles */
.solutions-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.solution-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px);
    text-align: center; /* Center text horizontally */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center content horizontally */
    min-height: 200px; /* Ensure a minimum height for better centering */
}

.solution-card h3, .solution-card h4 {
    margin-top: 0;
    color: #555;
    flex-shrink: 0; /* Prevent headers from shrinking */
}

.solution-card p {
    color: #555;
    flex-grow: 1; /* Allow paragraph to grow and take up remaining space */
    display: flex;
    align-items: center; /* Center text vertically within the paragraph */
    justify-content: center; /* Center text horizontally within the paragraph */
    margin-bottom: 0;
}

/* Media Queries */
@media (max-width: 992px) {
    .solution-card {
        width: calc(50% - 40px); /* Adjust the width for medium screens */
    }
}

@media (max-width: 767px) {
    .solutions-grid {
        flex-direction: column;
        align-items: center;
    }
    .solution-card {
        width: 100%; /* Adjust the width for small screens */
        max-width: 300px; /* Ensure it doesn't get too large */
    }
}

blockquote {
    margin: 0;
}

blockquote footer{
    font-size: 0.9em;
    text-align: left;
}

blockquote p {
    padding: 0;
    font-size: 0.85em;
    font-style: italic;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

/* Custom styles for the table */

.price-container{
    max-width: 350px;
    text-align: center;
}
.table-responsive {
    margin-top: 20px;
    background-color: #fff  ;
    border-radius: 10px;
    
}

.table-bordered td{
    vertical-align: middle;
}

.table-bordered th{
    vertical-align: middle;
}